:root {
    --white: #ffffff;
    --off-white: #f1f1f1;
    --grey: #838383;
    --black: #000000;
    --golden: #e5b465;
    --matt-black: #171717;
    --light-blue: #30c0d8;
    --medium-blue: #1e3348;
    --dark-blue: #1c252e;
    --deep-blue: #081723;
    --deep-blue-transparent: #081723d0;
    --red: #ff4654;
}

@font-face {
    font-family: 'Poppins';
    src: url(./Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Valorant';
    src: url(./fonts/Valorant\ Font.ttf);
}

@font-face {
    font-family: 'Tungsten';
    src: url(./fonts/Tungsten.ttf);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins';
    list-style-type: none;
    color: var(--white);
    cursor: url('./res/custom-cursor-white.png'), auto;
    scroll-behavior: smooth;
    user-select: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a,
img,
input,
button,
.icon {
    display: block;
}

html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

/* Parallax CSS */

.wrapper {
    height: 100vh;
    overflow: hidden;
    /* background: radial-gradient(ellipse at bottom, var(--medium-blue) 0%, var(--deep-blue) 100%); */
}

/* Cursor CSS */
.cursor {
    position: fixed;
    width: 30px;
    height: 30px;
    border-radius: 30%;
    border: 1px solid var(--white);
    transform: translate(-25%, -25%);
    pointer-events: none;
    transition: 1000ms ease-in-out;
    transition: width 200ms, height 200ms;
    z-index: 2;
}

li:hover>.cursor {
    /* cursor: url('./res/custom-cursor-white-large.png'), auto; */
    height: 50px;
    width: 50px;
}

.box {
    background-color: var(--deep-blue-transparent);
    position: absolute;
    top: 2vh;
    left: 7vw;
    width: 86vw;
    height: 85vh;
    border-left: 8px solid var(--red);
    border: 6px solid var(--red);
    /* border-radius: 20px; */
    overflow-y: scroll;
    overflow-x: hidden;
}

.left-border, .right-border {
    position: fixed;
    z-index: 200;
    top: 30vh;
    height: 300px;
    border: 8px solid var(--red);
}

.left-border {
    left: 7vw;
}

.right-border {
    right: 7vw;
}

.hardik {
    padding: 2px;
    background-color: var(--white);
    color: var(--black);
    border: 1px solid var(--black);
    border-radius: 8px;
}

.red {
    color: var(--red);
}

.red-bg {
    background-color: var(--red);
}

main {
    height: 60%;
}

.cool-text-1 {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: auto auto;
    border-bottom: 1px solid var(--grey);
}

.cool-text-1 p {
    margin: 5px 10px;
    font-size: 14px;
    color: var(--grey);
}

.name {
    display: block;
    margin: 10vw auto auto auto;
}

.name p {
    text-align: center;
    font-size: 24px;
    font-family: 'Valorant';
    color: var(--red);
    margin: 20px;
}

.name h1 {
    text-align: center;
    --size: 3px;
    font-size: 10vw;
    font-family: 'Valorant';
    letter-spacing: 2px;
    color: var(--deep-blue);
    text-shadow: 0px 0px var(--size) var(--white), 0px 0px var(--size) var(--white), 0px 0px var(--size) var(--white), 0px 0px var(--size) var(--white), 0px 0px var(--size) var(--white), 0px 0px var(--size) var(--white);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5%;
}

.primary-button {
    background-color: var(--matt-black);
    border: 1px solid var(--red);
    letter-spacing: 1px;
    padding: 20px 4rem;
    background: url(./res/paralellogram.svg);
    background-size: 800%;
    background-position: -8%;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.button-borders {
    border: 1px dashed var(--red);
    padding: 5px;
}

.primary-button:hover {
    background-position: 10%;
    border: 1px solid var(--off-white);
}

/* < ======== Horizontal Text Scroll Effect */
.line-1 h1 {
    display: block;
    position: relative;
    top: 90%;
    left: -800px;
    /* white-space: nowrap; */
    font-size: 150px;
    --size: 2px;
    --color1: #505050;
    color: var(--deep-blue);
    text-shadow: 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1);
}

/* <======== Common For all sections ========> */
.title {
    text-align: center;
    letter-spacing: 2px;
    font-size: 6vw;
    font-family: 'Tungsten';
    color: var(--off-white);
    /* background: -webkit-linear-gradient(var(--dark-blue), var(--medium-blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}

.subtitle {
    text-align: center;
    position: relative;
    font-size: 16px;
    margin-bottom: 2%;
    letter-spacing: 5px;
    background: -webkit-linear-gradient(white, #38495a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: 2;
}

.paragraph {
    text-align: center;
    position: relative;
    letter-spacing: 2px;
    font-size: 14px;
    width: 60vw;
    margin: auto auto;
    color: var(--off-white);
    z-index: 2;
}

.slash-section-divider {
    display: flex;
    width: 60%;
    height: 20px;
    margin: 0 auto;
    overflow: hidden;
}

.slash-section-divider img {
    display: flex;
    height: 30px;
}

.wid90-mar-auto {
    width: 90%;
    margin: auto auto;
}

/* <======== About Me Section ========> */

.about-me {
    width: 90%;
}

.absoulte-text-about h1 {
    top: -100px;
}

/* .about-content {
    width: 80%;
    margin: 70px auto;
} */

.education-title {
    display: block;
    padding: 10px 0;
    border-bottom: 1px solid var(--grey);
    color: var(--grey);
    position: relative;
    z-index: 2;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.relative-text {
    font-family: 'Valorant';
    font-size: 25vw;
    text-align: center;
    position: relative;
    top: 200px;
    z-index: 0  ;
    color: var(--deep-blue);
    --size: 1px;
    --color1: #404040;
    text-shadow: 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1);
}

/* < ======== My Stack Section ======== > */
.absolute-text {
    font-family: 'Valorant';
    position: absolute;
    writing-mode: vertical-rl;
    font-size: 14vw;
    right: 0;
    color: var(--deep-blue);
    --size: 2px;
    --color1: #404040;
    text-shadow: 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1), 0px 0px var(--size) var(--color1);
}

/* < ======== Experience Section ======== > */
.experience-section {
    padding: 2% 0;
}

.experience {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 50px auto;
}

.experience-text {
    width: 70%;
    margin: 20px;
}

.exp-binary {
    letter-spacing: 2px;
    font-size: 14px;
    color: var(--grey);
    margin: 5px 0;
}

.exp-title {
    font-size: 8vw;
    display: inline;
    font-family: 'Tungsten';
    color: var(--off-white);
    border-top: 2px solid var(--medium-blue);
}

.exp-subtitle {
    letter-spacing: 2px;
    margin: 20px 0;
}

.experience-para {
    width: 80%;
    text-align: left;
    margin: 50px 0;
    font-size: 14px;
    color: var(--grey);
    text-align: justify;
}

.experience-grid {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto auto;
    border-right: 1px solid var(--deep-blue);
}

.exp {
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    background-color: var(--dark-blue);
    border: 1px solid var(--red);
    box-shadow: 0px 0px 100px var(--medium-blue);
    transition-duration: 200ms;
}

.exp:hover {
    background-color: var(--medium-blue);
    box-shadow: 0px 0px 100px var(--matt-black);
    transform: scale(1.05);
}

.inter-div {
    display: flex;
    justify-content: space-between;
}

.inter-div p {
    color: var(--grey);
}

.exp-inter-div-hr {
    width: 80%;
    margin: 5px 0;
    border: 0.5px solid var(--grey);
}

.below-lines {
    display: flex;
}

.below-line1, .below-line2 {
    margin: 40px 10px 0px 0px;
    height: 2px;
    background-color: var(--off-white);
    box-shadow: 0px 0px 5px var(--red);
}

.below-line1 {
    width: 50px; 
}

.below-line2 {
    width: 150px;
}

.below-button {
    justify-content: left;
    margin-left: 0;
}

/* < ======== New Stack Section ======== > */
.display-box {
    height: 400px;
    width: 60%;
    margin: 10px auto;
    background-color: var(--deep-blue);
    border: 1px solid var(--light-blue);
    /* temporary part - remove after dope shit comes up */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Valorant';
    font-size: 32px;
    color: var(--red);
}

.select-block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
    align-items: center;
    width: 60%;
    margin: 10px auto;
    background-color: var(--deep-blue);
    scroll-behavior: smooth;
}

.block {
    overflow: hidden;
    border: 1px solid var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    min-width: 60px;
    transition: all 100ms ease;
}

.block:hover {
    background-color: var(--medium-blue);
}

.arrow-text {
    font-size: 30px;
}

.block-text {
    font-size: 10px;
}

.block i {
    font-size: 30px;
}

.activeToggle {
    border: 1px solid var(--red);
    transform: scale(1.1);
}

/* < ======== Contact Me Section ======== > */
.details-hr {
    width: 60%;
    margin: auto auto;
}

.details-hr p {
    margin: 10px 0px;
    letter-spacing: 2px;
    font-size: 12px;
    color: var(--grey);
}

.details-hr hr {
    border: 0.5px solid var(--red);
    width: 100%;
}

form {
    width: 40%;
    margin: 50px auto;
}

form p {
    font-size: 12px;
    margin: 10px 0px;
    color: var(--red);
}

input, textarea {
    width: 100%;
    resize: none;
    background-color: var(--deep-blue);
    border: 1px solid var(--off-white);
}

form input, button {
    height: 50px;
}

form button {
    width: 100%;
}

/* < ======== Footer Section ======== > */
footer {
    background-color: var(--matt-black);
    text-align: center;
    padding: 2%;
}

.social-media-icons a {
    font-size: 30px;
    padding: 10px;
    margin: 20px;
    transition: 300ms;
}

.social-media-icons a:hover {
    color: var(--red);
}

.heading {
    text-align: left;
    margin-bottom: 20px;
    color: var(--red);
    font-size: 20px;
    font-weight: 600;
    text-align: centre;
}

.links {
    text-align: left;
    line-height: 20px;
    font-size: 12px;
    text-align: centre;
}

.invitation {
    width: 180px;
    margin: auto auto;
}

.business {
    color: var(--matt-black);
    text-shadow: 0px 0px 1px var(--grey);
}

/* Newsletter Form */
.newsletter-label {
    display: block;
    font-size: 12px;
    text-align: left;
}

.newsletter form {
    margin: 20px 0 0 0;
    padding: 0px;
    width: 100%;
}

#email {
    width: 200px;
    padding: 5px;
    border-radius: 8px;
}

.newsletter-button {
    background-color: var(--medium-blue);
    width: 100px;
    height: 32px;
    border: 1px solid var(--medium-blue);
    border-radius: 8px;
}

.credits {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 10px 0;
}

.credits a {
    color: var(--red);
    font-size: 18px;
}

.last-statements {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

/* < ======== Common to all sections ======== > */
.section {
    margin: 10% auto 10% auto;
}

.section-divider {
    width: 60%;
    margin: auto auto auto auto;
    border: 0.5px solid var(--grey);
}

@media (max-width: 1300px) {
    .title {
        font-size: 8vw;
    }

    .name {
        margin: 20vh 0 0 0;
    }
}

@media (max-width: 1000px) { 
    nav {
        justify-content: right;
    }

    .nav-lines {
        display: block;
        cursor: pointer;
    }

    .nav-links {
        position: absolute;
        margin: 0 0;
        display: flex;
        flex-direction: column;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        background-color: var(--matt-black);
        transform: 200ms;
        overflow: hidden;
        transition: 200ms;
    }

    .nav-links.active {
        height: 80%;
    }

    .nav-links li {
        display: flex;
        justify-content: center;
    }

    .cool-text-1 p {
        font-size: 12px;
    }

    .name {
        margin: 20vh auto auto auto;
    }

    .name h1 {
        font-size: 15vw;
    }

    .primary-button {
        padding: 10px;
    }

    .title {
        font-size: 9.5vw;
        letter-spacing: 2px;
    }

    .stack i {
        font-size: 3vw;
        padding: 8px;
        margin: 10px;
    }

    .stack-title {
        width: 70%;
        font-size: 10px;
    }
    
    .absolute-text {
        font-size: 20vw;
    }

    .display-box, .select-block {
        width: 80%;
        position: relative;
        z-index: 2;
    }

    form {
        width: 60%;
        margin: 50px auto;
    }

    .primary-button {
        margin: auto auto;
    }

    .experience-para {
        width: 100%;
    }

    .experience-text {
        width: 100%;
        margin: auto auto;
    }
    
    .experience {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
    }

    .footer-section {
        margin: 20px;
    }
}

@media (max-width: 800px) {
    .cursor {
        display: none;
    }
    
    .absolute-text {
        display: 20vw;
    }

    .relative-text {
        font-size: 30vw;
        top: 200px;
        left: -100px;
    }

    .block {
        --size: 50px;
        min-width: var(--size);
        height: var(--size);
    }

    .block-text {
        font-size: 8px;
        margin-top: 4px;
    }

    .block i {
        font-size: 24px;
        margin-top: 4px;
    }

    .experience {
        width: 100%;
    }

    .exp {
        width: 100%;
    }

    .exp p {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    .box {
        width: 95vw;
        left: 2.5vw;
    }

    .left-border {
        left: 2.5vw;
        border: 6px solid var(--red);
    }

    .right-border {
        right: 2.5vw;
        border: 6px solid var(--red);
    }

    .logo label {
        font-size: 16px;
    }


    main {
        /* height: 90%; */
    }

    .cool-text-1 p {
        font-size: 8px;
    }

    .name {
        margin: 30vw auto auto auto;
    }

    .name p {
        font-size: 6vw;
    }

    .name h1 {
        font-size: 20vw;
    }

    .title {
        font-size: 12vw;
        letter-spacing: 5px;
    }

    .subtitle {
        font-size: 3vw;
    }

    .paragraph {
        font-size: 2vw;
    }

    .slash-section-divider {
        height: 1vh;
        width: 80%;
    }

    .education {
        padding: 10px;
        margin: 10px;
    }

    .red-line-bottom {
        bottom: -15px;
        left: -11px;
    }

    .education-title {
        width: 80%;
        margin: auto auto;
        font-size: 12px;
    }

    .relative-text {
        top: 100px;
        left: -20px;
    }

    .about-logos {
        width: 40%;
    }

    .clg-logo {
        margin: 10px 10px;
    }

    .stack i {
        font-size: 6vw;
        padding: 8px;
        margin: 10px;
    }

    .td {
        width: 95%;
        font-size: 8px;
    }

    .stack-title {
        width: 95%;
        font-size: 10px;
    }

    .display-box, .select-block {
        width: 95%;
    }
    
    .absolute-text {
        display: none;
    }

    .rank-bar {
        height: 8px;
    }

    .ranking {
        height: 7px;
    }

    .details-hr {
        width: 80%;
    }

    footer {
        padding: 50vh auto 50vh auto;
        font-size: 3vw;
    }

    .social-media-icons i {
        padding: 0px;
        margin: 10px;
    }

    form {
        width: 80%;
        margin: 50px auto;
    }

    input {
        height: 40px;
    }

    textarea {
        height: 100px;
    }
}

@media (max-width: 400px) {
    .box {
        left: 2vw;
        top: 2vh;
        width: 96%;
        height: 86vh;
        border-top: 5px solid var(--red);
        border-bottom: 5px solid var(--red);
        border-left: none;
        border-right: none;
    }

    .title {
        font-size: 16vw;
    }

    .subtitle {
        text-align: center;
    }

    .name {
        margin: 10vh auto auto auto;
    }

    .container {
        margin: 10vh auto auto auto;
    }

    .primary-button {
        font-size: 12px;
    }

    .hobby {
        width: 80%;
        padding: 10px;
        margin: 5px;
        margin-top: 10px;
    }

    .stack-title {
        font-size: 6px;
    }

    .left-border, .right-border {
        display: none;
    }

    .details-hr {
        width: 90%;
    }

    form {
        width: 95%;
        margin: 50px auto;
    }
}

/* Scroll Bar CSS */
::-webkit-scrollbar {
    width: 0px;
    height: 5px;
    /* background-color: var(--light-blue); */
}

/* font-family: 'Tungsten'; */


/* 
border-width: 2px;
border-image: linear-gradient(45deg, red , yellow);
border-image-slice: 1; 
*/

/* 
border-image: linear-gradient(to top, var(--red), var(--medium-blue)) 1 100%;
border-image-slice: 1; 
*/

/* display: grid;
place-items: center; */
